.global-top-bar-wrapper {
    width: 100%;
    position:absolute;
    z-index: 1000;
    top:0px;
    left:0px;

     &.dark-mode{
         .global-menu-icon {
            filter: grayscale(100%); 
        }
        .back-next-switch{
            .switch{
                filter: grayscale(100%);   
            }
        }
        .global-top-bar{
            background-color: black;
            background-blend-mode: luminosity; 
            .find{
                filter: grayscale(100%);
            }
            .new-player-wrapper{
                .volume-control{
                    filter: grayscale(100%);  
                }
            }
            .global-top-bar-btn{
                >*{
                    filter: grayscale(100%);
                }
            }
        }
    }

    div.instruction-btn{
        width: 150px;
        height: 16%;
        bottom: 177px;
        text-align: center;
        position: fixed;
        bottom: -.2%;
        right: -100px;
        cursor: pointer;
        background-size: auto;
        background-size: contain;
        background-repeat: no-repeat;
        // background-image: url('../images/filing-cabinet/Neil_N.png'); 
    }
}

.global-top-bar {
    margin: 0px auto;
    background: black;
    // background-image: url('../images/filing-cabinet/cabinet-door-top.png');
    height: 108px;
    width: 100%;

    .infocard, .cabinet, .timeline,.home
    {
        height: 60px;
        width: 165px;
        cursor: pointer;
        background-position: 50%;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .contrarian-btn 
    ,.store-btn{
        height: 55px;
        width: 150px;
        cursor: pointer;
        background-position: inherit;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .global-top-bar-btn{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 39rem;
        height: auto;
        left: 385px;
        position: absolute;
        top: 23px;
        
    }
   
    .timeline {

        &:hover {
            // background-image: url('../images/filing-cabinet/timeline-hl.png');
        }
        // background-image: url('../images/filing-cabinet/timeline.png');
    }

    .cabinet {
        &:hover {
            // background-image: url('../images/info-card/cabinet-hl.png');
        }
        // background-image: url('../images/info-card/cabinet.png');
    }
    .home {
        &:hover {
            // background-image: url('../images/filing-cabinet/home_h.png');
        }
        height: 60px;
        background-size: contain;
        position: relative;
        // background-image: url('../images/filing-cabinet/home_n.png');
    }
    .contrarian-btn {
        top: 5px;
        position: relative;
        // background-image: url('../images/filing-cabinet/NYATC_n.png');
    }
    .store-btn {
        &:hover {
            // background-image: url('../images/filing-cabinet/Store_h.png');
        }
        height: 60px;
        width: 165px;
        // background-image: url('../images/filing-cabinet/Store_n.png');
    }

    .infocard {
        position: absolute;
        left: 671px;
        top: 23px;
        &:hover {
            // background-image: url('../images/timeline/infocard-hl.png');
        }
        // background-image: url('../images/timeline/infocard.png');
    }

    .find {
        // background-image: url('../images/global-menu/find.png');
        height: 86px;
        width: 86px;
        position: absolute;
        right: 17px;
        top: 11px;
        cursor: pointer;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .shadow {
        position: absolute;
        top: 108px;
        width: 100%;
        // background-image: url('../images/timeline/top-bar-shadow.png');
        height: 32px;
        background-repeat: repeat-x;
        pointer-events: none;
    }
}
