.global-menu-icon {
    // background-image: url('../images/global-menu/NYA_Button_Menu.png');
    background: white;
    height: 63px;
    width: 66px;

    position: absolute;
    top: 21px;
    left: 24px;

    cursor: pointer;
}