// @font-face {
//     font-family: 'Microbrew One';
//     src: url('/fonts/microbrew-one-webfont.woff2') format('woff2'),
//          url('/fonts/microbrew-one-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Typewriter';
//     src: url('/fonts/Bohemian-typewriter.ttf.eot'); /* IE9 */
//     src: url('/fonts/Bohemian-typewriter.ttf.woff') format('woff'),
//          url('/fonts/Bohemian-typewriter.ttf.svg')  format('svg'),
//          url('/fonts/Bohemian-typewriter.ttf')      format('truetype');
// }

// @font-face {
//     font-family: 'Veneer';
//     src: url('/fonts/veneer.eot');
//     src: url('/fonts/veneer.eot?#iefix') format('embedded-opentype'),
//              url('/fonts/veneer.woff2') format('woff2'),
//          url('/fonts/veneer.woff') format('woff'),
//          url('/fonts/veneer.ttf') format('truetype'),
//          url('/fonts/veneer.svg#youworkforthem') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Eveleth Slant Regular';
//     src: url('/fonts/eveleth-slant-regular.eot'); /* IE9 */
//     src: url('/fonts/eveleth-slant-regular.woff') format('woff'),
//          url('/fonts/eveleth-slant-regular.woff2') format('woff2'),
//          url('/fonts/eveleth-slant-regular.svg')  format('svg'),
//          url('/fonts/eveleth-slant-regular.ttf')  format('truetype');
// }

// @font-face {
//     font-family: 'DINPro';
//     src: url('/fonts/DINPro.eot'); /* IE9 */
//     src: url('/fonts/DINPro.woff') format('woff'),
//          url('/fonts/DINPro.svg')  format('svg'),
//          url('/fonts/DINPro.ttf')  format('truetype');
// }

// @font-face {
//     font-family: 'DINProBold';
//     src: url('/fonts/DINProBold.eot'); /* IE9 */
//     src: url('/fonts/DINProBold.woff') format('woff'),
//          url('/fonts/DINProBold.svg')  format('svg'),
//          url('/fonts/DINProBold.ttf')  format('truetype');
// }

// @font-face {
//     font-family: 'DINProCondensed';
//     src: url('/fonts/DinProCondensed.eot'); /* IE9 */
//     src: url('/fonts/DinProCondensed.woff') format('woff'),
//          url('/fonts/DinProCondensed.ttf')  format('truetype');
// }

// @font-face {
//     font-family: 'DINProCondensedBold';
//     src: url('/fonts/DIN_Condensed_Bold.woff') format('woff'),
//          url('/fonts/DIN_Condensed_Bold.ttf')  format('truetype'),
//          url('/fonts/DIN_Condensed_Bold.otf') format('opentype');
// }

// @font-face {
//     font-family: 'Helvetica-Neue-Black-Condensed';
//     src: url('/fonts/Helvetica-Neue-Black-Condensed.eot'); /* IE9 */
//     src: url('/fonts/Helvetica-Neue-Black-Condensed.woff') format('woff'),
//          url('/fonts/Helvetica-Neue-Black-Condensed.ttf')  format('truetype');
// }

// @font-face {
//     font-family: 'Stencil';
//     src: url('/fonts/stencil.eot'); /* IE9 */
//     src: url('/fonts/stencil.woff') format('woff'),
//          url('/fonts/stencil.ttf')  format('truetype');
// }

// @font-face {
//     font-family: 'OpenSansExtraBold';
//     src: url('/fonts/OpenSans-ExtraBold.ttf') format('truetype');
// }
// @font-face {
//     font-family: 'Georgia';
//     src: url('/fonts/Georgia.ttf') format('truetype');
// }

// @font-face {
//     font-family: 'Georgia';
//     src: url('/fonts/Georgia-Bold.ttf') format('truetype');
//     font-weight: bold;
// }

// @font-face {
//     font-family: 'Georgia';
//     src: url('/fonts/Georgia-Italic.ttf') format('truetype');
//     font-style: italic;
// }

// @font-face {
//     font-family: 'Georgia';
//     src: url('/fonts/Georgia-Bold-Italic.ttf') format('truetype');
//     font-weight: bold;
//     font-style: italic;
// }

// @font-face {
//     font-family: 'Yrsa';
//     src: url('/fonts/Yrsa-Regular.ttf') format('truetype');
// }

// @font-face {
//     font-family: 'Yrsa';
//     src: url('/fonts/Yrsa-Light.ttf') format('truetype');
//     font-weight: 300;
// }

// @font-face {
//     font-family: 'Yrsa';
//     src: url('/fonts/Yrsa-Semibold.ttf') format('truetype');
//     font-weight: 600;
// }

// @font-face {
//     font-family: 'Yrsa';
//     src: url('/fonts/Yrsa-Bold.ttf') format('truetype');
//     font-weight: bold;
// }

// @font-face {
//     font-family: 'LibreBaskerville';
//     src: url('/fonts/LibreBaskerville-Italic.ttf') format('truetype');
//     font-style: italic;
// }

// @font-face {
//     font-family: 'Oswald';
//     src: url('/fonts/Oswald-Semibold.ttf') format('truetype');
// }

// @font-face {
//     font-family: 'Roboto';
//     src: url('/fonts/Roboto-Regular.ttf') format('truetype');
// }

// @font-face {
//     font-family: 'Roboto';
//     src: url('/fonts/Roboto-Bold.ttf') format('truetype');
//     font-weight: bold;
// }

// @font-face {
//     font-family: 'Roboto';
//     src: url('/fonts/Roboto-Italic.ttf') format('truetype');
//     font-style: italic;
// }

// @font-face {
//     font-family: 'Roboto-Condensed';
//     src: url('/fonts/RobotoCondensed-Bold.ttf') format('truetype');
//     font-weight: bold;
// }

// @font-face {
//     font-family: 'Roboto-Condensed';
//     src: url('/fonts/RobotoCondensed-Regular.ttf') format('truetype');
// }

// @font-face {
//     font-family: 'Roboto-Condensed';
//     src: url('/fonts/RobotoCondensed-Italic.ttf') format('truetype');
//     font-style: italic;
// }

// @font-face {
//     font-family: 'Galada';
//     src: url('/fonts/Galada-Regular.ttf') format('truetype');
// }

// @font-face {
//     font-family: 'Benchnine-Bold';
//     src: url('/fonts/BenchNine-Bold.ttf') format('truetype');
// }

// @font-face {
//     font-family: 'Sixcaps';
//     src: url('/fonts/SixCaps.ttf') format('truetype');
// }

// @font-face {
//     font-family: 'Microbrew';
//     src: url('/fonts/Microbrew.otf') format('opentype');
// }
// @font-face {
//     font-family: 'QHYTSDAKX';
//     font-style: normal;
//     font-weight: normal;
//     src: url('/fonts/qhytsdakx.woff') format('woff');
// }

// @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
// @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
// @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


// * {
//     user-select: none;
//     font-family: 'Typewriter';
// }
// input, textarea {
//     user-select: text !important;
// }

// html, body {
//     overflow: hidden;
//     height: 100%;
//     -webkit-overflow-scrolling: auto;
// }

// * {
//     -webkit-overflow-scrolling: auto;
// }

// body {
//     margin: 0px;
//     padding: 0px;
// }

// #app {
//     margin: 0px;
//     padding: 0px;
//     position: absolute;
//     top:0px; left: 0px;
// }

// .clearfix {
//     clear:both;
// }
// h1,h2,h3,h4,h5,h6 {
//     margin: 0px 0px;
// }
// html {
//     background-color: black;
//     overflow:hidden;
// }

// .preview-page {
//     width: 100%;
//     height: 100%;
// }

// #main-wrapper {
//     width: 100%;
//     height: 100%;

// }

// #content {
//     width: 100%; height: 100%;

//     > div { /*the anonymous transition group element.*/
//         width: 100%; height: 100%;
//         position: relative;
//     }

//     position: relative;
//     overflow:hidden;
// }

// .underlay {
//     position: absolute !important;
//     top: 0px; left: 0px;
// }

// .overlay {
//     position: absolute !important;
//     top: 0px; left: 0px;
//     width: 100%; height: 100%;
//     z-index: 1000;

//     .body-unscaled & {
//         width: 100vw;
//         height: 100vh;
//     }
// }
// .welcome-overlay {
//     position: absolute !important;
//     top: 0px; left: 0px;
//     width: 100%; height: 100%;
//     z-index: 1001;

//     .body-unscaled & {
//         width: 100vw;
//         height: 100vh;
//     }
// }

// .warning-overlay {
//     position: absolute !important;
//     top: 0px; left: 0px;
//     width: 100%; height: 100%;
//     z-index: 1002;

//     &--leaving {
//         top: 104px;
//         height: calc(100% - 104px);
//     }

//     .body-unscaled & {
//         width: 100vw;
//         height: 100vh;
//     }
// }

// @keyframes fadeOut {
//     0%  { opacity: 0; }
//     20% { opacity: 1; }
//     80% { opacity: 1; }
//     90% { opacity: 0; }
//     100% { opacity: 0; }
// }
// @mixin respond($breakpoint) {
//     @if($breakpoint == medium)  {
//       @media (max-width: 900px) { @content }
//     }
//     @if($breakpoint == small)  {
//       @media only screen and(max-width: 600px),
//       only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2),
//         only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2),
//         only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3),
//         only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3),
//         only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2),
//         only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3),
//         only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3),
//         only screen and (device-width : 414px) and (device-height : 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio : 2){ 
//           @content 
//         }
//     }
//     @if($breakpoint == landscape) {
//         @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2),
//         only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2),
//         only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3),
//         only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3),
//         only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2),
//         only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3),
//         only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3),
//         only screen and (device-width : 414px) and (device-height : 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio : 2){ 
//         @content 
//       } 
//     }
// }

// .notification {
//     position: absolute;
//     top: 120px;
//     right: 30px;
//     width: 130px;
//     height: 130px;
//     animation: fadeOut 5s linear forwards;
//     z-index: 1000;
// }


// .content-wrapper {
//     /* must be positioned relative to allow transition animations */
//     position:relative;
// }

// table, tbody, tr, td {
//     margin:0px; padding:0px;
// }
// table {
//     border-collapse: collapse;
// }

// #music-player {
//     width: 100%; height: 100%; background-color: #282C2C;
//     z-index:100;
// }

// .info-card-section {
//     width:100%; height: 100%;
//     position:absolute;
//     overflow:hidden;

//     // background: url('../images/info-card/background.jpg');
//     background-size: cover;
//     background-position: center;
// }

@import 'mixins.scss';
@import 'leftSideIcons.scss';
@import 'news.scss';
@import 'newspaper.scss';
@import 'global-menu.scss';
@import 'global-top-bar.scss';
@import 'global-menu-icon.scss';
@import 'user-info.scss';

.overlay {
    position: absolute !important;
    top: 0px; left: 0px;
    width: 100%; height: 100%;
    z-index: 1000;

    .body-unscaled & {
        width: 100vw;
        height: 100vh;
    }
}
.auth0-lock-widget {
    * {
        font-family: DINPro;
    }
    .auth0-lock-header {
        min-height: 125px;
    }
    .auth0-lock-header-bg {
        // background: url('../images/auth0/Login.png') !important;
        background-size: contain  !important;
        min-height: 125px !important;
        image-rendering: -webkit-optimize-contrast;
    }
    .auth0-lock-content-wrapper {
        overflow: visible !important;
    }
    .auth0-lock-name {
        display: none;
    }
    .auth0-lock-content, .auth0-lock-tabs, input {
        background-color: #f2ecdc !important;
    }
    .auth0-lock-input-wrap {
        border: 1px solid #ccc7b8 !important;
        background: #ccc7b8 !important;
    }

    .auth0-lock-header-bg-blur {
        display: none !important;
        filter:  none;
    }
}

.auth0-lock.auth0-lock.auth0-lock-opened .auth0-lock-overlay {
    opacity: 0.3 !important;
}

.auth0-lock.auth0-lock .auth0-lock-widget {
    overflow: visible !important;
}
.auth0-lock.auth0-lock.auth0-lock-opened .auth0-lock-widget{
    transition: none !important;
    // transition: transform 0.6s !important;
    // -webkit-transition: transform 0.6s !important;
}

#auth, #terms {
    display:none;
    position: absolute;
    top:0px; left: 0px;
    width: 100%; height: 100%;
}

#auth {
    z-index: 100;
    background: rgba(0,0,0,0.3);
}
