#leftside-icons-wrapper {
  background-color: #4c311b;
}
.left-side-icons {
  width: 100%;
  .row {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: inherit !important;
    width: 100%;
    &.small {
      width: 50%;
      float: left;
    }
    &.small,
    &.side-to-side {
      .image {
        width: 120px;
        height: auto;
        font-size: 1rem;
      }
    }
  }
  .icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 400px;
    height: inherit;
    margin-bottom: 10px;
  }
}
