.news-content {
    a {
        color: #000;
        text-decoration: none;
    }
    background: url("/static/images/news/newspaper-bg-tile.png") repeat;
    height: 100%;
    min-height: 900px;
    font-family: Georgia;
    font-size: 20px;
    text-align: justify;
    .main-content {
        padding: 12px;
        height: 100%;
        &.article, & .excerpt {
            .title, .title-column {
                & iframe, & img {
                    width: calc(100% - 24px);
                    margin-left: 12px;
                }
            }
            .article-text, .newsArticle {
                & iframe, & img {
                    width: calc(100% - 24px);
                    margin-left: 12px;
                }
            }
        }

        .column {
            float: left;
            font-size: 10px;
            padding: 0px;
            .excerpt {
                .title-column p, .title p{
                    width: 100%;
                    text-align: justify;
                    font-size: 14px!important;
                    line-height: 14px!important;
                }
                .excerpt-content p {
                    font-size: 10px!important;
                    line-height: 10px!important;
                }
            }
        }

        .column-3 {
            margin-right: 10px;
            width: calc(33% - 10px);
        }
    }
}

// .navigation, .news-navbar{
//     display: none;
// }